* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: white;
  background: rgb(53, 56, 54);
}
.header {
  margin: 15px;
  text-align: center;
}
.prog {
  width: 80%;
  margin: auto;
}
input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background: #111;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: white;
}
input:focus {
  background: black;
  transform: scale(1.1);
}
.prices input {
  width: 35%;
}
#total {
  background: red;
  padding: 10px 2px;
  border-radius: 4px;
}
#total::before {
  content: "Total: ";
}
#submit {
  color: white;
  font-size: 16px;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(108, 169, 17);
  border-radius: 20px;
  transition: 0.5s;
}
#submit:hover {
  letter-spacing: 1px;
  color: #111;
  background-color: rgb(147, 244, 0);
}
#searchpro:hover {
  letter-spacing: 1px;
  color: #111;
  background-color: rgb(147, 244, 0);
}
#searchcat:hover {
  letter-spacing: 1px;
  color: #111;
  background-color: rgb(147, 244, 0);
}

.searchbtn {
  display: flex;
  justify-content: space-between;
}
#searchpro,
#searchcat {
  color: white;
  font-size: 15px;
  width: 45%;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(108, 169, 17);
  border-radius: 20px;
  transition: 0.5s;
}
table {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
td button {
  color: white;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(108, 169, 17);
  border-radius: 20px;
  transition: 0.5s;
}
td button:hover {
  color: #111;
  background-color: rgb(147, 244, 0);
}
.th {
  text-transform: uppercase;
}
th,
td {
  padding: 5px;
}
#deleteAll button {
  color: white;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(108, 169, 17);
  border-radius: 20px;
  transition: 0.5s;
  margin: 20px 0;
}
#deleteAll button:hover {
  letter-spacing: 1px;
  color: white;
  background-color: red;
}
